
.swiper-pagination {
    display: none;
}

.swiper-slide {
    text-align: center;
    font-size: 2.2rem;
    background: var(--c-three);
    color: var(--c-one);
    /* Center slide text vertically */
    display: block;
    margin-right: 2px !important;
    cursor: pointer;
    word-wrap: break-word;
}

.hora-card {
    font-size: 1rem !important;
    text-align: left!important;

}
.content-card{
    text-align: left;
    margin-left:10px;
     color:var(--c-one);
}

.logo-tv-container {
    display: block;
    margin: auto;
}

.logo-tv {
    width: 100%;
    max-width: 200px;
}

.poster-sm img{
    max-height: 150px;
    max-width: 150px;
    min-height:100px;
    min-width: 100px;
    width: 100%;
    height: 100%;
}


.tipo-otros,.tipo-pelicula,.tipo-serie,.tipo-noticia,.tipo-documental,.tipo-deporte,.tipo-infantil{
     border: 2px solid;
}
.tipo-otros{border-color: aquamarine;}
.tipo-pelicula{ border-color: coral ;}
.tipo-serie{ border-color: indianred ;}
.tipo-noticia{ border-color: darkblue;}
.tipo-documental{ border-color: forestgreen;}
.tipo-deporte{ border-color: mediumpurple;}
.tipo-infantil{ border-color:yellow ;}

.terminado-content{
    opacity: 0.5;
}
.current-content div{
    font-weight: bold;
    color:var(--c-two)!important;

}
.current-content{

}
/**/

/**/
/*600 px RESPONSSSSIVVVEEE*/
@media only screen and (max-width: 600px) {
    .poster-sm img{
     width:55px;
    height: 55px;
    }
    .swiper-slide {
    font-size: 1rem;
    margin-right: 1px !important;

}

.hora-card {
    font-size: 1rem !important;
    text-align: left!important;

}
}
